@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  font-family: "Reddit Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
}

#header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #0080ff;
}

h1 {
  color: white;
  margin-left: 100px;
  font-size: 50px;
}

ul {
  list-style: none;
  display: flex;
  gap: 100px;
  font-size: 30px;
  margin-right: 100px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #cccccc;
}

#imageRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
}

img {
  height: 500px;
  width: auto;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #0080ff;
  gap: 5px;
}

h4 {
  color: white;
  font-size: 18px;
}

span {
  color: white;
}
